@use "../variables" as *;

// =============================================================================
// SUMMARY COMPONENT
// =============================================================================

.container.summary {
  // background: $background-light;

  .summary-overview {
    display: flex;
    gap: $spacing-lg;
    flex-wrap: nowrap;

    @include mobile {
      flex-direction: column;
      flex-wrap: wrap;
    }

    .summary-grid {
      width: 100%;
      flex-basis: calc(100% / 3);
      flex-shrink: 0;

      @include mobile {
        flex-basis: 100%;
      }
    }

    .chart-container {
      width: 100%;
      flex-basis: calc(100% / 3 * 2);

      @include mobile {
        flex-basis: 100%;
      }
    }
  }

  // Summary Grid
  .summary-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: $spacing-lg;
    // margin-bottom: $spacing-xxl;

    .summary-card {
      padding: $spacing-lg;
      text-align: left;
      // @include card-base;
      // @include card-hover;

      h3 {
        // color: $secondary-color;
        font-size: 16px;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          display: block;
        }

        [class*="icon-"] {
          display: block;
          width: 24px;
          height: 24px;
        }

        .icon--overall-score {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cg clip-path='url(%23clip0_3018_318)'%3E%3Cpath d='M14.9165 12.6399C16.1587 12.6399 17.1665 13.6478 17.1665 14.8899V17.1399H22.4165C23.6587 17.1399 24.6665 18.1478 24.6665 19.3899V22.3899L24.6571 22.6196C24.5399 23.754 23.5837 24.6399 22.4165 24.6399H2.9165C1.67432 24.6399 0.666504 23.6321 0.666504 22.3899V17.8899C0.666504 16.6478 1.67432 15.6399 2.9165 15.6399H8.1665V14.8899C8.1665 13.6478 9.17432 12.6399 10.4165 12.6399H14.9165ZM2.9165 17.1399C2.504 17.1399 2.1665 17.4774 2.1665 17.8899V22.3899C2.1665 22.8024 2.504 23.1399 2.9165 23.1399H8.1665V17.1399H2.9165ZM10.4165 14.1399C10.004 14.1399 9.6665 14.4774 9.6665 14.8899V23.1399H15.6665V14.8899C15.6665 14.4774 15.329 14.1399 14.9165 14.1399H10.4165ZM17.1665 23.1399H22.4165C22.829 23.1399 23.1665 22.8024 23.1665 22.3899V19.3899C23.1665 18.9774 22.829 18.6399 22.4165 18.6399H17.1665V23.1399ZM12.6571 1.68994C12.9384 1.68994 13.1962 1.84932 13.3228 2.10244L14.3915 4.19775L16.7118 4.56807L16.8149 4.5915C17.0446 4.66182 17.2321 4.83994 17.3071 5.07432C17.3962 5.3415 17.3259 5.63682 17.1243 5.83369L15.4649 7.49775L15.8306 9.82275C15.8728 10.0993 15.7603 10.3806 15.5306 10.5446C15.3009 10.7087 15.0009 10.7321 14.7478 10.6056L12.6524 9.53682L10.5571 10.6056C10.304 10.7321 10.004 10.7087 9.77432 10.5446C9.54463 10.3806 9.43213 10.0993 9.47432 9.82275L9.83994 7.49775L8.18057 5.83369C7.98369 5.63213 7.91338 5.3415 7.99775 5.07432C8.08213 4.80713 8.3165 4.61025 8.59307 4.56807L10.9134 4.19775L11.9821 2.10244L12.0384 2.01338C12.179 1.8165 12.404 1.69463 12.6524 1.69463L12.6571 1.68994ZM12.0853 5.21494C11.9774 5.43057 11.7712 5.57588 11.5321 5.61338L10.2853 5.81025L11.1806 6.70557C11.3493 6.87432 11.429 7.11338 11.3915 7.35244L11.1946 8.59932L12.3196 8.02744L12.4837 7.9665C12.6571 7.92432 12.8353 7.94307 12.9993 8.02744L14.1243 8.59932L13.9274 7.35244C13.8899 7.11807 13.9696 6.87432 14.1384 6.70557L15.029 5.81025L13.7821 5.61338C13.604 5.58525 13.4446 5.49619 13.3274 5.36025L13.229 5.21025L12.6571 4.08525L12.0853 5.21025V5.21494Z' fill='%232b0573'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3018_318'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.666504 0.639893)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }

        .icon--highest-performing {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cg clip-path='url(%23clip0_3020_346)'%3E%3Cpath d='M17.5925 2.13989H7.09253C6.67066 2.13989 6.37066 2.48208 6.38472 2.84302C6.67534 10.5258 8.48941 14.0555 9.95191 15.6633C10.6785 16.4649 11.3535 16.8258 11.7941 16.9899C12.0191 17.0743 12.1925 17.1118 12.291 17.1305C12.3144 17.1352 12.3332 17.1352 12.3472 17.1399C12.3613 17.1399 12.38 17.1352 12.4035 17.1305C12.5019 17.1165 12.6753 17.079 12.9003 16.9899C13.341 16.8258 14.016 16.4602 14.7425 15.6633C16.205 14.0602 18.0144 10.5258 18.3097 2.84302C18.3238 2.47739 18.0191 2.13989 17.6019 2.13989H17.5925ZM7.09253 0.639893H17.5925C18.8347 0.639893 19.8472 1.66177 19.8003 2.89927C19.791 3.14771 19.7816 3.39614 19.7675 3.63989H22.0925C23.3113 3.63989 24.3988 4.64771 24.2675 5.96489C23.9769 8.87583 22.8847 10.9524 21.4269 12.4149C20.105 13.7368 18.5253 14.5196 17.0722 14.979C15.6472 17.4258 14.016 18.2368 13.0878 18.5086V23.1446H17.5878C18.0003 23.1446 18.3378 23.4821 18.3378 23.8946C18.3378 24.3071 18.0003 24.6446 17.5878 24.6446H7.08784C6.67534 24.6446 6.33784 24.3071 6.33784 23.8946C6.33784 23.4821 6.67534 23.1446 7.08784 23.1446H11.5878V18.5086C10.6832 18.2461 9.10347 17.4633 7.70191 15.143C6.28159 14.7352 4.67378 13.9993 3.31441 12.6586C1.82378 11.1868 0.689407 9.04458 0.403469 5.96021C0.281594 4.64771 1.35972 3.63989 2.58316 3.63989H4.90816C4.89409 3.39614 4.88472 3.15239 4.87534 2.89927C4.82847 1.65708 5.84097 0.639893 7.08316 0.639893L7.09253 0.639893ZM18.0238 12.9915C18.8488 12.593 19.6597 12.0633 20.3628 11.3508C21.5582 10.1508 22.5144 8.40239 22.7722 5.81489C22.805 5.48208 22.5285 5.13989 22.0925 5.13989H19.6644C19.3785 8.54302 18.7738 11.0883 18.0238 12.9915ZM5.02066 5.13989H2.59253C2.15659 5.13989 1.87534 5.48208 1.90816 5.81958C2.16597 8.58052 3.15972 10.3852 4.37847 11.5899C5.10034 12.3024 5.92066 12.8227 6.74566 13.193C5.95816 11.2665 5.32066 8.66489 5.02534 5.13989H5.02066ZM13.355 5.11646L13.9457 6.31645L15.2675 6.50864C16.191 6.64458 16.5566 7.77896 15.891 8.42583L14.9347 9.35864L15.1597 10.6758C15.3191 11.5946 14.3535 12.2977 13.5285 11.8618L12.3472 11.2383L11.166 11.8618C10.341 12.2977 9.37534 11.5946 9.53472 10.6758L9.75972 9.35864L8.80347 8.42583C8.13784 7.77427 8.50347 6.63989 9.42691 6.50864L10.7488 6.31645L11.3394 5.11646C11.7519 4.28208 12.9425 4.28208 13.355 5.11646ZM12.005 7.15552C11.841 7.48833 11.5222 7.71802 11.1566 7.76958L10.3925 7.88208L10.9457 8.42114C11.2128 8.67896 11.33 9.05396 11.2691 9.41489L11.1378 10.179L11.8222 9.81802C12.1503 9.64458 12.5394 9.64458 12.8675 9.81802L13.5519 10.179L13.4207 9.41489C13.3597 9.04927 13.4769 8.67896 13.7441 8.42114L14.2972 7.88208L13.5332 7.76958C13.1675 7.71802 12.8488 7.48833 12.6847 7.15552L12.3425 6.46177L12.0003 7.15552H12.005Z' fill='%232b0573'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3020_346'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.333008 0.639893)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }

        .icon--needs-attention {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cg clip-path='url(%23clip0_3018_336)'%3E%3Cpath d='M12.0236 0.639893C12.7127 0.639893 13.3455 1.01958 13.6736 1.62427L23.7986 20.3743C24.1127 20.9555 24.0986 21.6586 23.7611 22.2258C23.4236 22.793 22.8096 23.1399 22.1486 23.1399H1.89862C1.23769 23.1399 0.628312 22.793 0.290812 22.2258C-0.0466878 21.6586 -0.0607503 20.9555 0.253312 20.3743L10.3783 1.62427C10.7064 1.01958 11.3392 0.639893 12.0283 0.639893H12.0236ZM12.0236 2.13989C11.8877 2.13989 11.7611 2.21489 11.6955 2.33677L1.5705 21.0868C1.50956 21.204 1.50956 21.3446 1.57987 21.4571C1.65019 21.5696 1.77206 21.6399 1.90331 21.6399H22.1533C22.2846 21.6399 22.4064 21.5696 22.4767 21.4571C22.5471 21.3446 22.5471 21.204 22.4861 21.0868L12.3611 2.33677C12.2955 2.21489 12.1689 2.13989 12.033 2.13989H12.0236ZM12.0236 19.3899C11.8759 19.3899 11.7296 19.3608 11.5931 19.3043C11.4566 19.2477 11.3326 19.1649 11.2281 19.0604C11.1237 18.9559 11.0408 18.8319 10.9843 18.6954C10.9277 18.5589 10.8986 18.4126 10.8986 18.2649C10.8986 18.1172 10.9277 17.9709 10.9843 17.8344C11.0408 17.6979 11.1237 17.5739 11.2281 17.4694C11.3326 17.3649 11.4566 17.2821 11.5931 17.2255C11.7296 17.169 11.8759 17.1399 12.0236 17.1399C12.1714 17.1399 12.3177 17.169 12.4541 17.2255C12.5906 17.2821 12.7147 17.3649 12.8191 17.4694C12.9236 17.5739 13.0065 17.6979 13.063 17.8344C13.1195 17.9709 13.1486 18.1172 13.1486 18.2649C13.1486 18.4126 13.1195 18.5589 13.063 18.6954C13.0065 18.8319 12.9236 18.9559 12.8191 19.0604C12.7147 19.1649 12.5906 19.2477 12.4541 19.3043C12.3177 19.3608 12.1714 19.3899 12.0236 19.3899ZM12.0236 8.88989C12.6611 8.88989 13.1627 9.43364 13.1205 10.0665L12.7736 14.9415C12.7455 15.3352 12.4174 15.6399 12.0236 15.6399C11.6299 15.6399 11.3017 15.3352 11.2736 14.9415L10.9268 10.0665C10.8799 9.42896 11.3861 8.88989 12.0236 8.88989Z' fill='%232b0573'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3018_336'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.639893)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }

      .summary-detail {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .label {
          // color: $secondary-color;
          font-size: 20px;
          font-weight: $font-normal;
        }

        .value {
          flex-shrink: 0;
          display: flex;
          align-items: flex-end;

          .score {
            font-size: 64px;
            line-height: 30px;
            font-weight: 500;
            color: $color-indigo;
            margin-bottom: $spacing-sm;
            transition: color 0.3s ease;
          }

          .subtext {
            padding-left: 4px;
            font-size: 14px;
            font-style: italic;
          }
        }
      }
    }
  }

  .btn-show-more {
    appearance: none;
    border: none;
    background: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

    @include mobile {
      font-size: 17px;
    }

    svg {
      fill: $color-indigo;
      width: 26px;
      transition: transform 0.2s ease-out;
    }

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }

    span {
      padding-left: 6px;
    }
  }

  .summary-explanations {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &.active {
      max-height: 500px;
      overflow: unset;
      opacity: 1;
      visibility: visible;
    }
  }

  // Criteria Selector
  .criteria-explanation {
    height: 100%;

    .criteria-selector {
      display: flex;
      flex-direction: column;
      // gap: $spacing-md;
      // min-height: 300px;
      height: 100%;

      // @include mobile {
      //   gap: $spacing-md;
      // }
    }

    .criteria-divider {
      height: 3px;
      width: 100%;
      background: $color-pastel-purple;
      transform: translateY(-3px);
    }

    .criteria-options {
      display: flex;
      overflow-x: auto;
      overflow-y: visible;
      // gap: $spacing-sm;
      position: relative;
      z-index: 1;
      // padding: $spacing-sm 0;
      scroll-snap-type: x mandatory;
      scrollbar-width: none; // Firefox
      -ms-overflow-style: none; // IE/Edge
      -webkit-overflow-scrolling: touch; // Smooth scrolling on iOS

      &::-webkit-scrollbar {
        display: none; // Chrome/Safari
      }

      .criteria-option {
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        flex-shrink: 0;
        scroll-snap-align: center;

        &::after {
          transform: scaleX(0);
          transform-origin: center;
          content: "";
          width: 100%;
          height: 3px;
          position: absolute;
          left: 0;
          bottom: 0;
          background: $color-indigo;
          transition: transform 0.3s;
          z-index: 1;
        }

        .criteria-name {
          font-size: 16px;
          font-weight: 300;
          line-height: 1.4;
          display: block;
          transition: all 0.2s ease-in-out;
          transform: scale(1);
          transform-origin: bottom;
          padding: $spacing-sm $spacing-lg $spacing-sm $spacing-sm;
          white-space: nowrap;

          @include mobile {
            font-size: 16px;
          }
        }

        &.active {
          .criteria-name {
            transform: scale(1.1);
            font-weight: 500;
          }
        }

        &.active {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }

    .criteria-content {
      flex: 1;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      // min-height: 200px;

      // @include mobile {
      //   min-height: 150px;
      // }
    }

    .criteria-detail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // padding: 0 $spacing-md;
      opacity: 0;
      visibility: hidden;
      // overflow-y: auto;
      // display: flex;
      // flex-direction: column;
      // transition: all 0.3s ease;

      &.active {
        position: relative;
        opacity: 1;
        visibility: visible;
      }

      // @include mobile {
      //   padding: $spacing-md;
      // }
    }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin: 0 0 $spacing-sm;
      font-weight: 400;
      // display: inline;

      &:last-of-type {
        margin-bottom: 0;
        font-weight: 300;
        // display: inline;
      }

      @include mobile {
        font-size: 16px;
      }
    }
  }
}
