<!-- Eyequant Section -->
<section class="container full eyequant-section bg-indigo">
  <div class="container py-5 py-lg-6 text-white">
    <div class="col-12">
      <h2 class="section-title text-white fade-in-up fade-in-delay-200">
        <span class="subtext">Understanding user behaviour</span>Visual attention analysis
      </h2>
    </div>

    <div class="col-12 col-lg-6 offset-lg-6">
      <p class="journey-subtitle text-white py-4 mb-5 mb-lg-6 fade-in-up fade-in-delay-400">
        In this section, we will explore how, using a software called EyeQuant helps us analyse key visual attention
        points on a webpage, highlighting crucial moments when users need to make decisions.
      </p>
    </div>

    {{EYEQUANT_CONTENT}}
  </div>
</section>
