<section class="container full journey-section bg-purple">
  <div class="container py-6 text-white">
    <!-- User Journey Section -->
    <div class="col-12">
      <h2 class="section-title text-white fade-in-up fade-in-delay-200">
        <span class="subtext">Planning improvements</span>Main user journey analysis
      </h2>
    </div>

    <div class="col-12 col-lg-6">
      <p class="journey-subtitle text-white py-4 mb-6 fade-in-up fade-in-delay-400">
        We've highlighted the top usability opportunities within the main user journey, from discovery to conversion. By
        carrying out an in-depth heuristic review in line common user pain points and design theory, things mentioned
        here could potentially have a dramatic effect on how users engage with your service.
      </p>
    </div>

    {{DISCOVERY_CONTENT}}  </div>
  </div>
</section>
<section class="container full journey-section bg-indigo">
  <div class="container py-6 color-white">{{DECISION_CONTENT}}</div>
</section>
<section class="container full journey-section bg-purple">
  <div class="container py-6 color-white">{{CONVERSION_CONTENT}}</div>
</section>