<!-- Charts Section -->
<section class="container full performance-section bg-white">
  <div class="container py-5 py-lg-6 text-indigo">

    <div class="col-12">
      <h2 class="section-title text-indigo fade-in-up fade-in-delay-200">
        <span class="subtext">Next steps</span>Performance overview in detail
      </h2>
    </div>

    <div class="col-12 col-lg-6">
      <p class="journey-subtitle text-indigo py-4 mb-5 mb-lg-6 fade-in-up fade-in-delay-400">
        We've conducted an analysis of your site across several keys themes, scoring each from 1 to 5. Lower scoring areas should be prioritized for further research and experimentation, with some examples provided below.
      </p>
    </div>

  <!-- <div class="chart-container">
    <div class="chart-wrapper radar-wrapper">
      <canvas id="radarChart"></canvas>
    </div>
  </div> -->

  {{NEEDS_WORK_FINDINGS}}
  {{DOING_WELL_FINDINGS}}
</section>
