// LEAD
// Set 1: Indigo
$color-indigo: #2b0573;
$color-pastel-purple: #e8e4ff;
$color-dark-violet: #b218ff;
$color-light-violet: #e859ff;
$color-dark-lilac: #5912e8;
$color-light-lilac: #aaa0ff;

// SECONDARY
// Set 2: Purple
$color-purple: #6325f4;
$color-pastel-blue: #cfecff;
$color-cyan: #39c7ff;
$color-aquamarine: #75faba;
$color-dark-blue: #5285ff;
$color-light-blue: #7abdff;

// Set 3: Red
$color-red: #e60834;
$color-pastel-pink: #fde4e1;
$color-orange: #ff6300;
$color-bright-pink: #ff9cff;
$color-dark-coral: #ff859b;
$color-light-coral: #ffa6b3;

// Set 4: Teal
$color-teal: #00a3b8;
$color-pastel-green: #daf2ee;
$color-bright-green: #12e896;
$color-lime: #d7ff82;
$color-dark-turquoise: #00d5ed;
$color-light-turquoise: #66dee7;

// Generic
$color-white: #fff;
$color-yellow: #fdff00;
$color-black: #000;

$colors: (
  "indigo": $color-indigo,
  "pastel-purple": $color-pastel-purple,
  "dark-violet": $color-dark-violet,
  "light-violet": $color-light-violet,
  "dark-lilac": $color-dark-lilac,
  "light-lilac": $color-light-lilac,
  "purple": $color-purple,
  "pastel-blue": $color-pastel-blue,
  "cyan": $color-cyan,
  "aquamarine": $color-aquamarine,
  "dark-blue": $color-dark-blue,
  "light-blue": $color-light-blue,
  "red": $color-red,
  "pastel-pink": $color-pastel-pink,
  "orange": $color-orange,
  "bright-pink": $color-bright-pink,
  "dark-coral": $color-dark-coral,
  "light-coral": $color-light-coral,
  "teal": $color-teal,
  "pastel-green": $color-pastel-green,
  "bright-green": $color-bright-green,
  "lime": $color-lime,
  "dark-turquoise": $color-dark-turquoise,
  "light-turquoise": $color-light-turquoise,
  "white": $color-white,
  "yellow": $color-yellow,
  "black": $color-black,
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .border-#{$name} {
    border: 1px solid $color;
  }
  .text-#{$name} {
    color: $color;
  }
}
