@font-face {
  font-family: BwGradual;
  src: url("../fonts/BwGradual-Light.woff2") format("woff2"), url("../fonts/BwGradual-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BwGradual;
  src: url("../fonts/BwGradual-Regular.woff2") format("woff2"), url("../fonts/BwGradual-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BwGradual;
  src: url("../fonts/BwGradual-RegularItalic.woff2") format("woff2"),
    url("../fonts/BwGradual-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: BwGradual;
  src: url("../fonts/BwGradual-Medium.woff2") format("woff2"), url("../fonts/BwGradual-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BwGradual;
  src: url("../fonts/BwGradual-MediumItalic.woff2") format("woff2"),
    url("../fonts/BwGradual-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: BwGradual;
  src: url("../fonts/BwGradual-Black.woff2") format("woff2"), url("../fonts/BwGradual-Black.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-700 {
  font-weight: 700;
}
